<div class="clearfix mb20" ng-if="!vm.user.feed.total_products">
  <div class="b-rounded shadow-emboss b-bordered bg-light col-lg-12 intro align-left">
    <div class="clearfix">
      <div class="col-lg-12 p30">
        <p class="mb0">
          <i class="fa fa-fw fa-tasks"></i>&nbsp;&nbsp;
          <strong translate="main.missingproducts.required_action"></strong>: <span translate="main.missingproducts.message"></span>
          <span class="pull-right fw600"><a href ui-sref="products.feed" class="color-ui-negative" translate="main.missingproducts.action"></a></span>
        </p>
      </div>
    </div>
  </div>
</div>