<div class="container-fluid small">
  <div class="container">
    <footer>
      <div class="row pt40">
        <div class="col-lg-12 intro">
          <div class="row mb50">
            <div class="col-lg-12 intro">
              <ul class="list-unstyled list-inline mb0">
                <li>PopUpDelivery™</li>
                <li><a href="{{translate.language_help}}" target="_blank" translate="translate.footer_help" class="ng-scope">{{translate.footer_help}}</a></li>
                <li><a href="#/terms" ui-sref="terms" translate="translate.footer_terms" class="ng-scope">{{translate.footer_terms}}</a></li>
                <li><a href="#/privacy" ui-sref="privacy" translate="translate.footer_privacy" class="ng-scope">{{translate.footer_privacy}}</a></li>
              </ul>
              <p class="mb0"><span translate="translate.footer_created_by" class="ng-scope">{{translate.footer_created_by}}</span> SUBURB STUDIO, London, UK, VAT ID: GB 223959880</p>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>