@import 'colors'; 

.bg-white {
  background-color: $color-white;
}

.bg-highlight {
  background-color: $color-highlight;
}

.bg-gray {
  background-color: $color-gray;
}

.bg-light {
  background-color: $color-light;
}

.bg-main {
  background-color: $color-main;
}

.bg-main-light {
  background-color: $color-main-light;
}

.bg-main-dark {
  background-color: $color-main-dark;
}

.bg-purple {
  background-color: $color-purple;
}

.bg-purple-light {
  background-color: $color-purple-light;
}

.bg-purple-dark {
  background-color: $color-purple-dark;
}

.bg-pink {
  background-color: $color-pink;
}

.bg-pink-light {
  background-color: $color-pink-light;
}

.bg-pink-dark {
  background-color: $color-pink-dark;
}

.bg-orange {
  background-color: $color-orange;
}

.bg-orange-light {
  background-color: $color-orange-light;
}

.bg-orange-dark {
  background-color: $color-orange-dark;
}

.bg-green {
  background-color: $color-green;
}

.bg-green-light {
  background-color: $color-green-light;
}

.bg-green-dark {
  background-color: $color-green-dark;
}

.bg-yellow {
  background-color: $color-yellow;
}

.bg-yellow-light {
  background-color: $color-yellow-light;
}

.bg-yellow-dark {
  background-color: $color-yellow-dark;
}

.bg-smoke {
  color: $color-smoke;
}

.bg-smoke-dark {
  background-color: $color-smoke-dark;
}

.bg-smoke-extra-dark {
  background-color: $color-smoke-extra-dark;
}

.bg-snow {
  background-color: $color-snow;
}

.bg-snow-dark {
  background-color: $color-snow-dark;
}

.bg-snow-extra-dark {
  background-color: $color-snow-extra-dark;
}

.bg-ui-blue {
  background-color: $color-ui-blue;
}

.bg-ui-positive {
  background-color: $color-ui-positive;
}

.bg-ui-negative {
  background-color: $color-ui-negative;
}

.bg-ui-warning {
  background-color: $color-ui-warning;
}

.bg-black {
  background-color: $color-black;
}

.bg-steel {
  background-color: $color-steel;
}

.bg-slate {
  background-color: $color-slate;
}

.bg-silver {
  background-color: $color-silver;
}

.bg-silver-light {
  background-color: $color-silver-light;
}




