$color-white: #ffffff;
$color-highlight: #EFF2F7;
$color-main: #1FB6FF;
$color-main-light: #85D7FF;
$color-main-dark: #009EEB;
$color-purple: #7E5BEF;
$color-purple-light: #A389F4;
$color-purple-dark: #592DEA;
$color-pink: #FF49DB;
$color-pink-light: #FF7CE5;
$color-pink-dark: #FF16D1;
$color-orange: #FF7849;
$color-orange-light: #FF9E7C;
$color-orange-dark: #FF5216;
$color-green: #13CE66;
$color-green-light: #29EB7F;
$color-green-dark: #0F9F4F;
$color-yellow: #FFC82C;
$color-yellow-light: #FFD55F;
$color-yellow-dark: #F8B700;
$color-smoke: #E0E6ED;
$color-smoke-dark: #D3DCE6;
$color-smoke-extra-dark: #C0CCDA;
$color-snow: #F9FAFC;
$color-snow-dark: #EFF2F7;
$color-snow-extra-dark: #E5E9F2;
$color-ui-blue: #1FB6FF;
$color-ui-positive: #13CE66;
$color-ui-negative: #FF4949;
$color-ui-warning: #FFC82C;
$color-black: #1F2D3D;
$color-steel: #273444;
$color-slate: #3C4858;
$color-silver: #8492A6;
$color-silver-light: #d5d5d5;
$color-gray: #666666;
$color-light: #fafafa;

.color-white {
  color: $color-white;
}

.color-highlight {
  color: $color-highlight;
}

.color-main {
  color: $color-main;
}

.color-main-light {
  color: $color-main-light;
}

.color-main-dark {
  color: $color-main-dark;
}

.color-purple {
  color: $color-purple;
}

.color-purple-light {
  color: $color-purple-light;
}

.color-purple-dark {
  color: $color-purple-dark;
}

.color-pink {
  color: $color-pink;
}

.color-pink-light {
  color: $color-pink-light;
}

.color-pink-dark {
  color: $color-pink-dark;
}

.color-orange {
  color: $color-orange;
}

.color-orange-light {
  color: $color-orange-light;
}

.color-orange-dark {
  color: $color-orange-dark;
}

.color-green, a.color-green, a.color-green:hover {
  color: $color-green;
}

.color-green-light, a.color-green, a.color-green:hover {
  color: $color-green-light;
}

.color-green-dark, a.color-green, a.color-green:hover {
  color: $color-green-dark;
}

.color-yellow {
  color: $color-yellow;
}

.color-yellow-light {
  color: $color-yellow-light;
}

.color-yellow-dark {
  color: $color-yellow-dark;
}

.color-smoke {
  color: $color-smoke;
}

.color-smoke-dark {
  color: $color-smoke-dark;
}

.color-smoke-extra-dark {
  color: $color-smoke-extra-dark;
}

.color-snow {
  color: $color-snow;
}

.color-snow-dark {
  color: $color-snow-dark;
}

.color-snow-extra-dark {
  color: $color-snow-extra-dark;
}

.color-ui-blue {
  color: $color-ui-blue;
}

.color-ui-positive {
  color: $color-ui-positive;
}

.color-ui-negative, a.color-ui-negative, a.color-ui-negative:hover, a.color-ui-negative:active {
  color: $color-ui-negative;
}

.color-ui-warning {
  color: $color-ui-warning;
}

.color-black {
  color: $color-black;
}

.color-steel {
  color: $color-steel;
}

.color-slate {
  color: $color-slate;
}

.color-silver {
  color: $color-silver;
}

.color-silver-light {
  color: $color-silver-light;
}

.color-gray {
  color: $color-gray;
}

.color-light {
  color: $color-light;
}