<navs></navs>

<div class="container-fluid">
  <div class="container container-fixed">

    <div class="row pt40">
      <div class="b-rounded shadow-close b-bordered shadow-emboss bg-light col-lg-push-3 col-lg-6 intro align-center p50">
        <h3 class="align-left"><strong translate="main.trial.intro"></strong></h3>
        <p class="align-left" translate="main.trial.desc"></ph5>
        <div class="clearfix group-buttons mt50">
          <a class="btn btn-lg btn-primary blue-button blue-button--active mb20" ui-sref="install" translate="main.trial.btn_next"></a>
          <p class="small mt5"><a href ui-sref="dashboard" translate="main.trial.btn_skip"></a></p>
        </div>
      </div>
    </div>  

  </div>
</div>