<div class="flexi" style="flex-direction:column;width:100%;display:flex;overflow-y:hidden;">
  <div class="module-header bg-purple-light">
    <ul class="list-unstyled list-inline list-internal-nav mb0">
      <li>
        <a href class="badge" style="font-size:16px;line-height:22px;" ui-sref="popups.overview">Product Popup</a>
      </li>
      <li>
        <a href class="badge" ui-sref-active="active" style="font-size:16px;line-height:22px;" ui-sref="popups.overview">Overview</a>
      </li>
      <li>
        <a href class="badge" ui-sref-active="active" style="font-size:16px;line-height:22px;" ui-sref="popups.list">All</a>
      </li>
    </ul>
  </div>

  <div style="width:100%;height:calc(100% - 55px);flex:1;overflow-y:scroll;">
    <div ui-view style="flex:1;width:100%;height:100%;"></div>
  </div>
</div>