<div class="container2">
  <div class="clearfix p15">
    <div class="col-lg-12 align-left p0">
      <div class="clearfix group-buttons">
        <a href ng-click="popupsIndexVm.createApp({app_type: 'coupon', 'design': {template: 'popup.default', font: 'lato', background: 'light', theme: 'black', language: 'pl'}})" class="btn btn-default blue-button blue-button--active" translate="main.appcoupons.btn_create"></a>
      </div>
    </div>
  </div>

  <div class="row2">

    <div class="b-rounded2 b-bordered2 shadow-emboss2 bg-light col-lg-12 intro align-left mb20">
      <div class="clearfix p10 pl0 pr0">
        <table class="table table-striped mb0">
          <thead>
            <tr>
              <th translate="main.appcoupons.table_status"></th>
              <th width="100%" translate="main.appcoupons.table_name"></th>
              <th align="right" nowrap><span translate="main.appcoupons.table_views"></span></th>
              <th align="right" nowrap>New Customers</th>
              <th align="right" nowrap>Returning Customers</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="app in popupsIndexVm.apps.coupon track by app._id">
              <td nowrap>
                <span class="badge" style="width:100%" ng-class="{'bg-green color-white': app.activated, 'bg-steal color-white': !app.activated}">{{app.published ? (app.activated ? ('main.appcoupons.table_badge_active' | translate) : ('main.appcoupons.table_badge_deactivated' | translate)) : (app.activated ? ('main.appcoupons.table_badge_active' | translate) : ('main.appcoupons.table_badge_new' | translate))}}</span>                
              </td>
              <td width="100%"><a href ui-sref="studio({app_id: app._id})">{{app.manifest.name || 'Untitled'}}</a></td>
              <td nowrap align="right">{{app.views || 0}}</td>
              <td nowrap align="right">{{app.views || 0}}</td>
              <td nowrap align="right">{{app.views || 0}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>  

</div>
