<!--<missing-products ng-if="!productsTableVm.products.length"></missing-products>-->

<div class="b-rounded2 b-bordered2 shadow-emboss2 col-lg-12 intro align-left mb20" ng-class="productsTableVm.bgColor || 'bg-light'">
  <div class="clearfix pt20 pb20">
    <div class="clearfix mb15" ng-if="productsTableVm.user.feed.total_products">
      <span>{{ 'main.products.error_2' | translate:'{total_products : ' + productsTableVm.user.feed.total_products + '}' }} </span>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="input-group" ng-if="productsTableVm.search">
          <input type="text" class="form-control" ng-model="productsTableVm.q" ng-keyup="productsTableVm.searchProducts()" placeholder="{{ 'main.products.list_search_placeholder' | translate }}">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" ng-click="productsTableVm.searchProducts()" translate="main.products.list_search"></button>
          </span>
        </div>  

        <table class="table table-striped mb0" ng-if="productsTableVm.products.length">
          <thead>
            <tr>
              <th width="20" ng-if="productsTableVm.embedded"></th>
              <th width="20"></th>
              <th class="middle" style="width:50%" translate="main.products.table_name"></th>
              <th translate="main.products.table_availability"></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="product in productsTableVm.filteredProducts = productsTableVm.products track by product._id">
              <td ng-if="productsTableVm.embedded"><input type="checkbox" value="{{product._id}}" name="products[]" ng-checked="productsTableVm.selectedProducts.indexOf(product._id) > -1" ng-click="productsTableVm.onProductChange(product._id)"/></td>
              <td><a href="{{product.link}}" target="_blank"><i class="fa fa-fw fa-external-link color-gray"></i></a>
              <td width="100%">{{product.title}}</td>
              <td align="center"><i class="fa" ng-class="{'fa-check color-green': product.available, 'fa-times color-slate': !product.available}"</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="row mb20" ng-if="productsTableVm.filteredProducts.length === 25">
  <div class="col-lg-12">
    <div class="pull-left">
      <a href class="btn btn-default" ng-disabled="productsTableVm.page === 1" ng-click="productsTableVm.prevPage()" translate="main.products.btn_prev"></a>
    </div>
    <div class="pull-right">
      <a href class="btn btn-default" ng-click="productsTableVm.nextPage()" translate="main.products.btn_next"></a>
    </div>
  </div>
</div>
