<div class="container-fluid bg-highlight mb202" style="flex:1;width:100%;">
  <div class="container2">
    <div class="pt20">
      <div class="col-lg-12 intro align-left p0">
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" ng-class="{'active': $ctrl.activeTab === 'design'}"><a href ng-click="$ctrl.activateTab('design')" aria-controls="preview" role="tab" data-toggle="tab">Design</a></li>
          <li role="presentation" ng-class="{'active': $ctrl.activeTab === 'who'}"><a href ng-click="$ctrl.activateTab('who')" aria-controls="preview" role="tab" data-toggle="tab">Who</a></li>
          <li role="presentation" ng-class="{'active': $ctrl.activeTab === 'where'}"><a href ng-click="$ctrl.activateTab('where')" aria-controls="preview" role="tab" data-toggle="tab">Where</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>