<div class="row pt40 mb50">
  <div class="col-lg-12 intro">
    <div class="row mb50">
      <div class="col-lg-12 intro">
        <ul class="list-unstyled list-inline mb0">
          <li>PopUpDelivery&trade;</li>
          <li translate="main.navs.blog"></li>
          <li><a href ng-click="footerVm.goToSupport()" target="_blank" translate="main.footer_help"></a></li>
          <li><a href ui-sref="terms" translate="main.footer_terms"></a></li>
          <li><a href ui-sref="privacy" translate="main.footer_privacy"></a></li>
        </ul>
        <p class="mb0"><span translate="main.footer_created_by"></span> SUBURB STUDIO, London, UK, VAT ID: GB 223959880</p>
      </div>
    </div>
  </div>
</div>