.btn-submit {
  background: #FF7849!important;
  border-color: #FF7849!important; 
}

.btn-cancel {
  color: #FF7849!important;
}

.reminder-button-area .title {
  background: #FF7849!important;
}

#reminder_content {
  border-top: 1px solid #FF7849;
}

#reminder_content a, #reminder_content a:hover, #reminder_content a:active, #reminder_content a:link {
  color: #FF7849;
}

span.price {
  color: #FF4949;
}